/*==============================================================================
==================================  BUTTONS ====================================
==============================================================================*/

.button,
.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-weight: 300;
  font-size: 1.5rem;
  @include gradient(to right, $primaryColorLight, $primaryColorDarken);
  color: $whiteColor;
  // for tag button
  cursor: pointer;
  border: none;
  overflow: hidden;

  &:hover {
    @include gradient(to right, $primaryColorDarken, $primaryColorLight);

    .button--invisible {
      top: 0;
    }

    .button--visible {
      transform: translateY(100%);
    }
  }

  &:active {
    transform: translateY(1px);
    @include shadow(0, .5rem, 1rem, rgba($blackColor, .2));
  }
}

.button--visible {
  display: inline-block;
  padding: 2rem 7.5rem;
  transition: all .2s;
}

.button--invisible {
  display: inline-block;
  position: absolute;
  padding: 2rem 0;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all .2s;
}

.btn {
  transition: all .2s ease-in;
  // for tag button
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;

  span {
    display: inline-block;
  }

  &,
  &:link,
  &:visited {
    color: $primaryColorDark;
    font-size: inherit;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding: 3px;
  }

  &:hover {
    color: $secondaryBgColor;
    transition: all .2s ease-in;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

.btn:hover span {
  transform: translateX(2px);
}

