.sidebar {
  background-color: $secondaryBgColor;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__menu {
    font-size: 1.4rem;
    margin-top: 3.5rem;

    &-list {}

    &-item {
      position: relative;

      &:not(:last-child) {
        margin-bottom: .5rem;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $primaryColorDark;
        transform: scaleY(0);
        transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
      }

      &:hover:before,
      &.item-active:before {
        transform: scaleY(1);
        width: 100%;
      }

      &:active:before {
        background-color: $primaryColorLight;
      }
    }
    
    &-link {
      &:link,
      &:visited {
        color: $mainBgColor;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        z-index: 10;
      }
    }

    &-icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: currentColor;
    }

    &-name {}
  }

  &__copyright {
    font-size: 1.2rem;
    color: $placeholderColor;
    text-align: center;
    padding: 2.5rem;
  }
}