// COLORS
// primary colors
$primaryColorLight: #ff3366;
$primaryColorDark: #eb2f64;
$primaryColorDarken: #ba265d;
$colorSecondaryLight: #ffb900;
$colorSecondaryDark: #ff7730;
$colorTertiaryLight: #2998ff;
$colorTertiaryDark: #5643fa;
// text colors
$mainTextColor: #777;
// background colors
$mainBgColor: #faf9f9;
$secondaryBgColor: #333;
// simple colors
$whiteColor: #fff;
$blackColor: #000;
$greyColor: #f4f2f2;
$greyColorDarker: #f0eeee;
$greyColorDark: #999;
// layout colors
$placeholderColor: #ccc;
