// COLORS

$primaryColorLight: #7ed56f;
$primaryColorDark: #55c57a;
$primaryColorDarken: #28b485;
$colorSecondaryLight: #ffb900;
$colorSecondaryDark: #ff7730;
$colorTertiaryLight: #2998ff;
$colorTertiaryDark: #5643fa;

$mainBgColor: #f7f7f7;

$mainTextColor: #777;

$whiteColor: #fff;
$blackColor: #000;
$greyColor: #eee;

$placeholderColor: #999;
$footerBgColor: #333;
