.title {
  text-transform: uppercase;
  font-weight: 700;
}

.title--extra-large {
  display: inline-block;
  font-size: 3.5rem;
  @include gradient(to right, $primaryColorLight, $primaryColorDark);
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: transform .3s ease-out;

  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    //text-shadow: $textShadowDefault;
    @include shadow(0, 1.5rem, 4rem, rgba($blackColor, .15), text);

  }
}

.title--large {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}